body{
    height: 100%;
    width: 100%;
}
a{
  text-decoration: none;
}
p.text-header-judul{
    text-decoration: none;
    text-align: center;
    font-size: 40px;
}
p.rata{
    text-align: justify;
}